body {
  background: black;
  font-family: "Balsamiq Sans", cursive;
  box-sizing: border-box;
  color: white;
}

.header-div-container {
  width: 100%;
  display: flex;
  justify-content: center;
  // margin-top: 30px;
}

.header-div {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  // border: 1px solid;
}

.details-instructions,
.links {
  display: flex;
  gap: 10px;
}

.description,
.instructions,
.link-container {
  border: 1px solid white;
  padding: 0px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link-container {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  text-align: center;
  color: white;
}

.main-container {
  display: flex;
  // border: 1px solid;
  gap: 10px;
}

#canvas {
  bottom: 0;
  // border: 1px solid red;
  width: 60%;
  height: 100%;
}

.tree-input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.input-text {
  align-self: center;
  font-size: 22px;
  margin: 0;
}

.generate-random-tree-button {
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 5%;
  z-index: 5;
  left: 10%;
  height: 47px;
  padding: 10px;
  border-radius: 50px;
  background: rgb(0, 255, 234);
  color: black;
  font-size: 20px;
  font-family: "Balsamiq Sans", cursive;
  box-shadow: 0px 0px 50px -10px rgb(255, 0, 119);
}

.generate-tree-button {
  cursor: pointer;
  border: none;
  position: absolute;
  bottom: 5%;
  z-index: 5;
  left: 38%;
  height: 47px;
  padding: 10px;
  border-radius: 50px;
  background: rgb(255, 0, 119);
  color: black;
  font-size: 20px;
  font-family: "Balsamiq Sans", cursive;
  box-shadow: 0px 0px 50px -10px rgb(0, 255, 234);
}

#leaf-fullness,
#branch-shrink {
  direction: rtl;
}

input[type="color"] {
//   -webkit-appearance: none;
  border: 1px solid white;
//   box-sizing: content-box;
  width: 30px;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

label {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  font-size: 20px;

  flex-wrap: nowrap;
}

input[type="range"] {
  width: 250px;
  height: 15px;
  -webkit-appearance: none;
  background: rgb(0, 217, 255);
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: #ac00f0;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 30px;
  height: 30px;
  background: #ac00f0;
  cursor: pointer;
}