body {
  background: black;
  font-family: "Balsamiq Sans", cursive;
  box-sizing: border-box;
  color: white;
}

.header-div-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.details-instructions,
.links {
  display: flex;
  gap: 10px;
}

.description,
.instructions,
.link-container {
  border: 1px solid white;
  padding: 0px 20px;
  border-radius: 10px;
  cursor: pointer;
  height: 52px;
}

.description-modal,
.instructions-modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 19%;
  top: 15%;
  width: 40%;
  overflow: auto;
  background-color: gray;
  background-color: rgba(0, 0, 0, 0.397);
}

.modal-open {
  display: flex;
}

.description-modal-content,
.instructions-modal-content {
  background-color: rgb(44, 44, 44);
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10px;

}

.title-container {
  height: 52px;
}

.title-h3 {
  margin: 0%;
  font-size: 40px;
}



.link-container {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  text-align: center;
  color: white;
}

.bdd {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  gap: 10px;
}

#canvas {
  bottom: 0;
  width: 60%;
  // height: 100%;
  margin-top: 5px;
}

.tree-input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  margin-top: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.input-text {
  align-self: center;
  font-size: 22px;
  margin: 0;
}


.button-created-by-div {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.button-div {
  display: flex;
  gap: 200px;
}

.generate-random-tree-button {
  cursor: pointer;
  border: none;
  height: 47px;
  border-radius: 10px;
  background: rgb(0, 255, 234);
  color: black;
  font-size: 20px;
  font-family: "Balsamiq Sans", cursive;
  box-shadow: 0px 0px 50px -10px rgb(255, 0, 119);
  text-align: center;
  line-height: 47px;
  box-sizing: border-box;
  width: 260px;
}

.generate-tree-button {
  cursor: pointer;
  border: none;
  height: 47px;
  border-radius: 10px;
  background: rgb(255, 0, 119);
  color: black;
  font-size: 20px;
  font-family: "Balsamiq Sans", cursive;
  box-shadow: 0px 0px 50px -10px rgb(0, 255, 234);
  width: 180px;
}

#leaf-fullness,
#branch-shrink {
  direction: rtl;
}

input[type="color"] {
  border: 1px solid white;
  width: 30px;
  padding: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

label {
  margin-top: 1.5%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  font-size: 20px;

  flex-wrap: nowrap;
}

input[type="range"] {
  width: 250px;
  height: 12px;
  -webkit-appearance: none;
  background: rgb(0, 217, 255);
  border-radius: 10px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #ac00f0;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ac00f0;
  cursor: pointer;
}